@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=VT323&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  color: #ffffff;
}
body::-webkit-scrollbar {
  display: none;
}
body,
body button,
body input {
  font-family: "VT323", monospace;
}
body img,
body a {
  -webkit-user-drag: none;
}
body a {
  text-decoration: none;
  color: #ffffff;
}

main {
  padding: 0 10%;
}

.backGround {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(111, 148, 224) 0%, rgb(56, 78, 159) 45%, rgb(56, 78, 159) 55%, rgb(111, 148, 224) 100%);
}

.cards_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: 50vh 0 20vh 0;
}
.cards_container .hoveredPokemon {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: start;
  width: 110%;
  height: 105%;
  background-color: #d73535;
  border-radius: 5px;
  padding: 3px 8px;
  transition: 0.3s;
  box-shadow: 5px 8px 10px 2px rgba(0, 0, 0, 0.36);
}
.cards_container .hoveredPokemon svg {
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  animation: 0.8s ArrowMoove cubic-bezier(0.65, 0, 0.35, 1) infinite;
}
@keyframes ArrowMoove {
  0% {
    left: 10px;
  }
  50% {
    left: 13px;
  }
  100% {
    left: 10px;
  }
}
.cards_container .card {
  position: relative;
  width: 630px;
  display: flex;
  border-radius: 60px 5px 5px 60px;
  align-items: center;
  background-color: #fde9ad;
  gap: 30px;
  font-size: 35px;
  padding: 10px 100px 10px 25px;
  margin: 3px;
  color: #000000;
  transition: 0.3s;
}
.cards_container .card:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 13px 5px #fde9ad;
  background-color: #f18a34;
}
.cards_container .card:hover .hoveredPokemon {
  opacity: 1;
}
.cards_container .card h1 {
  font-size: 100%;
}
.cards_container .card img {
  width: 100px;
}
.cards_container .card .pokeball {
  width: 60px;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  background-color: #6188ff;
  border-bottom: 8px solid #292a2b;
}
header input {
  background: no-repeat;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  color: #000000;
  outline: none;
}
header input::-moz-placeholder {
  font-size: 12px;
}
header input::placeholder {
  font-size: 12px;
}
header button {
  padding: 15px 25px;
  border-radius: 30px;
  margin: 5px;
  font-size: 25px;
  color: #ffffff;
  background: #2c3e50;
  transition: 0.2s;
}
header button:hover {
  cursor: pointer;
  background: #1d2732;
}
header .Tout {
  border: 2px solid #000000;
}
header .Active {
  background: #1d2732;
}

.evolutions {
  display: flex;
  justify-content: center;
}
.evolutions .preEvolution img,
.evolutions .nextEvolution img {
  width: 60%;
  height: 100%;
}
.evolutions .preEvolution,
.evolutions .nextEvolution {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.evolutions .currentPokemon {
  filter: drop-shadow(25px -5px 8px #000);
}

.demoPokemon {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 800px;
  bottom: 4%;
  border-radius: 40px;
  border: 20px solid #fbe44e;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.36);
  background: repeating-linear-gradient(#ffffff, #ffffff 40px, #cae4ee 40px, #cae4ee 50px);
}
.demoPokemon img {
  width: 80%;
  animation: PokeMooveImg 2s ease-in-out infinite;
  filter: drop-shadow(25px -5px 8px #000);
}
@keyframes PokeMooveImg {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(-10%);
  }
}

.scrollBarContainer {
  position: fixed;
  top: 15%;
  right: 5%;
  width: 20px;
  height: 80%;
}
.scrollBarContainer .scrollBar {
  background: repeating-linear-gradient(#09304f, #09304f 10px, #3d7790 10px, #3d7790 15px);
}
.scrollBarContainer .scrollBar,
.scrollBarContainer .scrollBar .scrollBarFilter,
.scrollBarContainer .scrollBar .scrollBtn {
  border-radius: 5px;
}
.scrollBarContainer .scrollBar,
.scrollBarContainer .scrollBar .scrollBarFilter {
  width: 100%;
  height: 100%;
}
.scrollBarContainer .scrollBarFilter {
  position: absolute;
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9164915966) 0%, rgba(0, 212, 255, 0) 100%);
  border: 3px solid #8bb1f4;
}
.scrollBarContainer .scrollBtn {
  position: absolute;
  background-color: #e74533;
  border: 3px solid #8b1e0d;
  width: 110%;
}

.PokePage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #7eb9ed;
}/*# sourceMappingURL=style.css.map */