@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=VT323&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  color: #ffffff;
}
body::-webkit-scrollbar {
  display: none;
}
body,
body button,
body input,
body select {
  font-family: "VT323", monospace;
}
body img,
body a {
  -webkit-user-drag: none;
}
body a {
  text-decoration: none;
  color: #ffffff;
}

main {
  padding: 0 10%;
}

.backGround {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(111, 148, 224) 0%, rgb(56, 78, 159) 45%, rgb(56, 78, 159) 55%, rgb(111, 148, 224) 100%);
}

.cards_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: 50vh 0 20vh 0;
}
.cards_container .hoveredPokemon {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: start;
  width: 110%;
  height: 105%;
  background-color: #d73535;
  border-radius: 5px;
  padding: 3px 8px;
  transition: 0.3s;
  box-shadow: 5px 8px 10px 2px rgba(0, 0, 0, 0.36);
}
.cards_container .hoveredPokemon svg {
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  animation: 0.8s ArrowMoove cubic-bezier(0.65, 0, 0.35, 1) infinite;
}
@keyframes ArrowMoove {
  0% {
    left: 10px;
  }
  50% {
    left: 13px;
  }
  100% {
    left: 10px;
  }
}
.cards_container .card {
  position: relative;
  width: 630px;
  display: flex;
  border-radius: 60px 5px 5px 60px;
  align-items: center;
  background-color: #fde9ad;
  gap: 30px;
  font-size: 35px;
  padding: 10px 100px 10px 25px;
  margin: 3px;
  color: #000000;
  transition: 0.3s;
}
.cards_container .card:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 13px 5px #fde9ad;
  background-color: #f18a34;
}
.cards_container .card:hover .hoveredPokemon {
  opacity: 1;
}
.cards_container .card h1 {
  font-size: 100%;
}
.cards_container .card img {
  width: 100px;
}
.cards_container .card .pokeball {
  width: 60px;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  background-color: #6188ff;
  border-bottom: 8px solid #292a2b;
  display: flex;
  justify-content: space-between;
}
header div {
  display: flex;
}
header input {
  background: no-repeat;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  color: #000000;
  outline: none;
}
header input::-moz-placeholder {
  font-size: 12px;
}
header input::placeholder {
  font-size: 12px;
}
header .btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #70a4f1;
  width: 30%;
}
header .btn-container select {
  color: #ffffff;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background: #4379ca;
  box-shadow: -3px 3px 5px -1px rgba(0, 0, 0, 0.75) inset;
  width: 70%;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 30px;
  transition: 0.2s;
}
header .btn-container select:hover {
  cursor: pointer;
  background: #3c6bb2;
}
header .btn-container select option {
  background: transparent;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 6px solid rgba(255, 255, 255, 0.16);
}

.evolutions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  gap: 10px;
}
.evolutions img {
  width: 230px;
}
.evolutions .preEvolution,
.evolutions .nextEvolution {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.evolutions .evolutionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 73px 1px #b69a48;
  width: 100%;
}
.evolutions .evolutionContainer .evo {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.evolutions .currentPokemon {
  filter: drop-shadow(25px -5px 8px #000000);
}

.demoPokemon {
  position: fixed;
  bottom: 4%;
}

.demoPokemon,
.currentPokemon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 800px;
  height: 800px;
  border-radius: 40px;
  border: 20px solid hsl(52, 96%, 65%);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.36);
  background: repeating-linear-gradient(#ffffff, #ffffff 20px, #cae4ee 20px, #cae4ee 30px);
}
.demoPokemon img,
.currentPokemon img {
  width: 90%;
  animation: PokeMooveImg 2s ease-in-out infinite;
  filter: drop-shadow(25px -5px 8px #000);
}

@keyframes PokeMooveImg {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(-10%);
  }
}
.scrollBarContainer {
  position: fixed;
  top: 15%;
  right: 5%;
  width: 20px;
  height: 80%;
}
.scrollBarContainer .scrollBar {
  background: repeating-linear-gradient(#09304f, #09304f 10px, #3d7790 10px, #3d7790 15px);
}
.scrollBarContainer .scrollBar,
.scrollBarContainer .scrollBar .scrollBarFilter,
.scrollBarContainer .scrollBar .scrollBtn {
  border-radius: 5px;
}
.scrollBarContainer .scrollBar,
.scrollBarContainer .scrollBar .scrollBarFilter {
  width: 100%;
  height: 100%;
}
.scrollBarContainer .scrollBarFilter {
  position: absolute;
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9164915966) 0%, rgba(0, 212, 255, 0) 100%);
  border: 3px solid #8bb1f4;
}
.scrollBarContainer .scrollBtn {
  position: absolute;
  background-color: #e74533;
  border: 3px solid #8b1e0d;
  width: 110%;
}

.PokePage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #7eb9ed;
  color: #000000;
}
.PokePage,
.PokePage button {
  font-size: 30px;
}
.PokePage .information_container {
  display: flex;
  border-bottom: 5px solid #f3dc9b;
  border-top: 5px solid #f3dc9b;
  background: repeating-linear-gradient(rgba(227, 155, 61, 0.6117647059), rgba(227, 155, 61, 0.6117647059) 5px, rgba(243, 220, 155, 0.5764705882) 5px, rgba(243, 220, 155, 0.5764705882) 8px);
  padding: 15px 0 15px 10px;
  width: 100%;
}
.PokePage .information_container .blueLight {
  display: flex;
  flex-direction: column;
  flex: auto;
  justify-content: space-between;
  background: #bce6f8;
  padding: 10px;
}
.PokePage .information_container .Orange {
  background: linear-gradient(90deg, rgba(111, 148, 224, 0) 0%, #f18a34 5%, #f18a34 95%, rgba(111, 148, 224, 0) 100%);
  justify-content: space-evenly;
  padding: 5px 0;
}
.PokePage .information_container .Beige {
  background: #e7dbb7;
}
.PokePage .information_container .Pink {
  background: #e87cc6;
  color: #ffffff;
}
.PokePage .information_container .Beige,
.PokePage .information_container .Pink {
  padding: 10px;
}
.PokePage .information_container .evolutionSection {
  display: flex;
  flex-direction: column;
  flex: auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.36);
  margin: 10px;
}
.PokePage .information_container .evolutionSection .evolution {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
}
.PokePage .information_container .informations {
  flex: auto;
  display: flex;
  flex-direction: column;
}
.PokePage .information_container .informations .firstSection {
  display: flex;
  flex-direction: column;
  height: 50%;
}
.PokePage .information_container .informations .information {
  display: flex;
  align-items: center;
}
.PokePage .information_container .informations .information .buttons {
  margin: 0 10px;
}
.PokePage .information_container .informations .information .buttons .Normal {
  color: #0072b0;
  border: 2px solid #17adff;
}
.PokePage .information_container .informations .information .buttons .Normal.Active {
  border: 4px solid #17adff;
}
.PokePage .information_container .informations .information .buttons .Shiny {
  color: #dd2d51;
  border: 2px solid #d73535;
}
.PokePage .information_container .informations .information .buttons .Shiny.Active {
  border: 4px solid #d73535;
}
.PokePage .information_container .informations .information .buttons .Normal,
.PokePage .information_container .informations .information .buttons .Shiny {
  background: none;
  border-radius: 5px;
  padding: 5px 10px;
}
.PokePage .information_container .informations .information .buttons .Normal:hover,
.PokePage .information_container .informations .information .buttons .Shiny:hover {
  cursor: pointer;
}
.PokePage .information_container .informations .information .vignette {
  background: #59b4e8;
  width: 200px;
  padding: 12px 0;
  border-radius: 5px;
  margin-right: 10px;
  color: #ffffff;
}
.PokePage .information_container .informations .information .type {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.PokePage .information_container .informations .information .type p {
  margin: 0 5px;
}
.PokePage .information_container .informations .information .type img {
  width: 40px;
}
.PokePage .information_container .informations .information .talents {
  display: flex;
  gap: 20px;
}

.Back {
  border: 3px solid #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  background: #4b4b4b;
  transition: 0.2s;
}
.Back:hover {
  background: #ffffff;
  border: 3px solid #4b4b4b;
  color: #4b4b4b;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  background: linear-gradient(0deg, rgb(111, 148, 224) 0%, rgb(56, 78, 159) 45%, rgb(56, 78, 159) 55%, rgb(111, 148, 224) 100%);
}
.error a {
  padding: 10px 25px;
  font-size: 2vw;
}
.error,
.error a {
  text-transform: uppercase;
}
.error_txt h1 {
  font-size: 10vw;
}
.error_txt img {
  width: 6vw;
  animation: pokeTurn 10s linear infinite;
}
@keyframes pokeTurn {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.error p {
  font-size: 3vw;
}/*# sourceMappingURL=style.css.map */