* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $Background;
  text-align: center;
  color: $White;

  &,
  button {
    // font-family: "Oswald", sans-serif;
    font-family: "VT323", monospace;
  }

  img,
  a {
    -webkit-user-drag: none;
  }

  a {
    text-decoration: none;
    color: $White;
  }
}
