$Red: #d73535;
$Blue: #2600ff;
$Yellow: #fbe44e;
$White: #ffffff;
$Black: #000000;
$Grey: #4b4b4b;
$Background: #34495e;
$BackgroundBis: #2c3e50;
$PokemonBackground: #fde9ad;
$PokemonBackgroundHovered: #f18a34;
$Active: #1d2732;
