// Basics

$Red: #d73535;
$Pink: #e87cc6;
$Blue: #7eb9ed;
$BlueLight: #bce6f8;
$Yellow: hsl(52, 96%, 65%);
$OrangeLight: #f3dc9b;
$White: #ffffff;
$Beige: #e7dbb7;
$LightLine: #cae4ee;
$Black: #000000;
$LightBlack: #292a2b;
$Grey: #4b4b4b;

// Button & General Backgrounds

$Background: #34495e;
$BackgroundBis: #2c3e50;
$PokemonBackground: #fde9ad;
$PokemonBackgroundHovered: #f18a34;
$HomeBackground1: linear-gradient(
  0deg,
  rgba(111, 148, 224, 1) 0%,
  rgba(56, 78, 159, 1) 45%,
  rgba(56, 78, 159, 1) 55%,
  rgba(111, 148, 224, 1) 100%
);

// Header

$Header: #6188ff;
$Active: #1d2732;

// Scroll Bar

$BorderScrollBar: #8bb1f4;
$BackgroundScrollBar: #09304f;
$LineScrollBar: #3d7790;
$BtnScrollBar: #e74533;
$BorderBtnScrollBar: #8b1e0d;

// Poke Page

$Vignette: #59b4e8;
$BackgroundPokePage: repeating-linear-gradient(
  #e39b3d9c,
  #e39b3d9c 5px,
  #f3dc9b93 5px,
  #f3dc9b93 8px
);
