.evolutions {
  display: flex;
  justify-content: center;

  .preEvolution img,
  .nextEvolution img {
    width: 60%;
  }

  .preEvolution,
  .nextEvolution {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .currentPokemon {
    filter: drop-shadow(25px 15px 25px #000);
  }
}
