.evolutions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  gap: 10px;

  img {
    width: 230px;
  }

  .preEvolution,
  .nextEvolution {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .evolutionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid $White;
    padding: 5px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 73px 1px #b69a48;
    width: 100%;

    .evo {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
  }

  .currentPokemon {
    filter: drop-shadow(25px -5px 8px $Black);
  }
}
