header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $Header;
  border-bottom: 8px solid $LightBlack;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;

  &,
  select,
  input,
  input::placeholder {
    font-size: 30px;
    color: $White;
  }

  div {
    display: flex;
  }

  input {
    background: no-repeat;
    border: none;
    border-bottom: 2px solid $White;
    padding: 10px 0;
    outline: none;
    caret-color: $White;
    width: 300px;
    transition: 0.2s;

    &:focus {
      width: 400px;
    }

    &::placeholder {
      color: #ffffff9c;
    }
  }

  .search {
    flex: auto;
    gap: 50px;
  }

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #70a4f1;
    width: 30%;

    select {
      text-align: center;
      appearance: none;
      outline: none;
      background: #4379ca;
      box-shadow: -3px 3px 5px -1px rgba(0, 0, 0, 0.75) inset;
      width: 70%;
      padding: 5px 10px;
      margin: 20px;
      border-radius: 20px;
      transition: 0.2s;

      &:hover {
        cursor: pointer;
        background: #3c6bb2;
      }

      option {
        background: transparent;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 6px solid rgba(255, 255, 255, 0.16);
      }
    }
  }
}
