header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  background-color: $Header;
  border-bottom: 8px solid $LightBlack;

  input {
    background: no-repeat;
    border: 2px solid $Black;
    border-radius: 5px;
    padding: 10px;
    color: $Black;
    outline: none;

    &::placeholder {
      font-size: 12px;
    }

    // &:focus {
    //   border: 3px solid $Black;
    // }
  }

  button {
    padding: 15px 25px;
    border-radius: 30px;
    margin: 5px;
    font-size: 25px;
    color: $White;
    background: $BackgroundBis;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      background: $Active;
    }
  }
  .Tout {
    border: 2px solid $Black;
  }

  .Active {
    background: $Active;
  }
}
