header {
  width: 80%;
  margin: 50px auto;

  button {
    padding: 15px 25px;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    color: $White;
    background: $BackgroundBis;

    &:hover {
      cursor: pointer;
    }
  }

  .typeColor {
    background: #1d2732;
  }
}
