.Loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 12vw;
    animation: LoaderAnimation 2s cubic-bezier(0.87, 0, 0.13, 1) infinite;
  }

  @keyframes LoaderAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
